*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Gotham', sans-serif;
}

li{
    list-style: none;
}

li:hover{
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
}

main{
    background-color: rgb(20, 25, 24) ;
    width: 100%;
    height: calc(100vh - 90px);
}
/* Navigatore laterale */
nav{
    height: 100%;
    width: 50px;
    float: left;
}
.contenitore-nav{
    width: 100%;
    height: 100%;
}

.navigatore{
    float: right;
    width: 50px;
    height: 100%;  
}

aside{
    height: 100%;
    width: 50px;
    background-color: black; 
}

.top-nav{
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: hidden;
    min-height: 400px; 
}

#evidenza1{
    border-left: 3px solid greenyellow;
}

.bottom-nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.none{
    display: none;
}

#download{
    width: 15px;
    padding-bottom: 5px;
}
.profile{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow:hidden;
}

#logowebapp{
    width: 45px;
    padding: 7px;
    
}

.top-nav img{
    width: 40px;
    padding: 5px;
}

.bottom-nav > ul li{
    padding: 3px;
}

#logodesktop {
    display: none;
}

/* Upgrade button Top side */
.upgrade{
    width: calc(100vw - 50px);
    height: 80px;
    position: fixed;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(8, 11, 18, 0.5);
    z-index: 3;
}
.upgrade button{
    transition: 1.5s;
}
.upgrade button:hover{
    transform: scale(1.1);
    
}
.upgrade button{
    color: white;
    background-color: rgba(8, 11, 18, 0.2);
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 10px;
}

/* Main pagina ( Canzoni) */
#main2{
    float: left;
    height: 100%;
    width: calc(100% - 50px);
    overflow-y: auto;
}



.lista-top{
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 10px;
    font-weight: 900;
    padding-top: 20%;
}

.lista-top li{
    display: inline-block;
    padding: 10px 10px;
    color: gray;
}

.lista-top li:hover{
    color: white;
}

.lista-noone{
    display: none;
}

.navigatore p{
    color: white;
    display: none;
    padding-left: 15px;
}

#evidenza{
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    border-bottom: 2px solid greenyellow;
}

.fas{
    padding: 5px;
    font-size: 150%;
    color: grey;
}
.far{
    font-size: 85%;
    color: grey;
    padding: 5px;
}


.overlay {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 6.5px;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.7);
  }
  .overlay-radius {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 5px;
    right: 0;
    width: 239px;
    height: 235px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  }
  
.main-song:hover .overlay {
    opacity: 1;
  }
  
#play {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



.box-song{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#testo-menu{
    color: white;
    padding: 5%  0 1% 1%;
}

.main-song{
    position: relative;
    float: left;
    width: 50%;
}

.main-song img{
    width: 95%;
    padding: 2% 3%;
}
.main-song h4 {
    color: white;
    padding: 3%;
    text-align: center;
}
.main-song h6 {
    color: grey;
    padding: 1% 3%;
    text-align: center;
}


#main2 p{
    color: grey;
    font-weight:700;
    font-size: 13px;
    padding: 0  0 1% 1%;
}

.img-circle{
    width: 100%;
}

.box-song .img-circle img{
    border-radius: 50%;
}

/* Footer */
footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100vw;
    background-color: rgb(40, 40, 40);
    z-index: 2;
}

.left-side,
.right-side{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.imgbot img{
    width: 60%;
    height: 100%;
    padding-left: 15%;
}
.imgbot{
    width: 33%;
}

.artist{
    width: 100%;
}
/* Parte Sinistra Footer */
.brani{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: 9px;
    color: white;
    font-weight: 900;
}

.brani span{
    font-size: 6px;
    color: grey;
}

.icon{
    font-size: 10px;
    width: 33%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fa-heart:hover,
.fa-folder:hover{
    color: white;
}

/* Parte centrale footer */
.center{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center .far, .fas{
    color: white;
}
.center-icon{
    width: 70%;
    font-size: 45%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.center .far{
    font-size: 260%;
}

.fa-play-circle{
    transition: 1s;
}

.fa-play-circle:hover{
    transform: scale(1.2);
}

/* Parte destra footer */
.right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side i {
    font-size: 10px;
}

/* barra player e barra volume */
.contenitore-bar{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.volumebar-min,
.volumebar-max{
    color: white;
    font-size: 10px;
    font-weight: 900;
}

.volumebar{
    width: 60%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 15px;
}

.volumebar-right{
    width: 45%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.bar{
    display: flex;
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.6);
}

.focusbar{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.volumebar:hover .bar{
    background-color: green;
}

.volumebar-right:hover .bar{
    background-color: green;
}

@media screen and (max-height: 350px)
{
    .box-song{
        display: none;
    }
    
    #testo-menu{
        display: none;
    }

    .upgrade{
        display: none;
    }

    p{
        display:none;
    }

    .lista-top {
        width: 100%;
        text-align: center;
        color: grey;
        font-size: 15px;
        font-weight: 700;
        padding-top: 30%;
    }
}

@media screen and (min-width: 768px)
{
    aside{
        height: 100%;
        width: 250px;
        background-color: black;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    nav{
        width: 250px;
    }

    #main2 {
        overflow-y: auto;
        width: calc(100% - 250px);
        float: left;
    }
    
    .lista-noone{
        display: block;
        overflow-y: auto;
    
    }

    .none{
        display: block;
    }
    

    .top-nav{
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: hidden;
    }
    .bottom-nav{
        width: 100%;
        height: 80px;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .bottom-nav li:first-child{
        display: flex;
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
        width: 90%;
        font-size: 13px;
    }
    
    
    .bottom-nav li{
        display: flex;
    }
    
    #download{
        width: 15px;
        padding: 0;
    }
    
    
    .none{
        display: block;
        padding-left: 3%;
    }
        
    .bottom-nav img{
        padding-right: 5%;
    }
    
    
    .bottom-nav ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bottom-nav li{
        display: flex;
    }

    .bottom-nav img{
        vertical-align: middle;
    }

    .bottom-nav span{
        color: white;
    }

    #logowebapp {
        display: none;
    }
    #logodesktop {
        display: inline;
        width: 90%;
        padding: 10%;
    }

    .upgrade{
        width: calc(100vw - 250px);
        height: 80px;
        position: fixed;
        float: left;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(8, 11, 18, 0.5);
        z-index: 3;
    }
    .contenitore-nav{
        width: 100%;
    }
    
    .navigatore{
        width: 100%;
        height: 100%;
    }

    li{
        padding-left: 5%;
        color: grey;
    }

    li img{
        vertical-align: middle;
    }
    
    .navigatore p{
        color: gray;
        display: inline-block;
    }

    .navigatore p:hover{
        color: white;
    }

    h3{
        color: white;
        padding: 5% 7%;
        font-size: 15px;
    }

    .center-icon {
        width: 70%;
        font-size: 45%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 
    .lista span{
        color: grey;
        font-weight: 900;
    }
    .lista .fas{
        font-size: 40px;
        padding-left: 6%;
        vertical-align: middle;
        color: grey;
    }

    .lista-playlist{
        color: grey;
    }

    .lista-playlist li{
        font-weight: 900;
        padding-top: 5%;
        font-size: 13px;
    }

    .profile p{
        font-weight: 900;
    }

    .brani p{
        font-size: 15px;
        color: white
    }

    .brani span{
        font-size: 15px;
        color: grey;
    }
}


@media screen and (min-width: 992px)
{

    .main-song {
        float: left;
        width: 25%;
    }

    .contenitore-bar{
        width: 85%;
    }
    
    .center-icon{
        width: 40%;
        font-size: 65%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .icon{
        font-size: 10px;
        width: 33%;
        padding-left: 3%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px)
{
    .lista-top{
        width: 100%;
        text-align: center;
        color: grey;
        font-size: 10px;
        font-weight: 900;
        padding-top: 8.5%;
        font-size: 15px;
    }

    .main-song h4 {
        color: white;
        padding: 3%;
        text-align: center;
    }

    .main-song {
        float: left;
        width: 16%;
    }
}