*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

main{
    background-color: rgb(20, 25, 24) ;
    width: 100vw;
    height: calc(100vh - 120px ) ;
}

nav{
    height: 100vh;
    width: 50px;
    background-color: black;
}

.upgrade{
    width: calc(100vw - 50px);
    height: 75px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(8, 11, 18);
}

.upgrade button{
    color: white;
    background-color: rgb(8, 11, 18);
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 10px;
}

footer{
    position: absolute;
    height: 120px;
    width: 100vw;
    background-color: gray;
}

.navigatore{
    position: absolute;
    width: 50px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bottom-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.contenitore-nav img{
    width: 100%;
    padding: 10px;
}

.navigatore p{
    color: white;
    display: none;
}
.fas{
    padding: 5px;
    font-size: 150%;
    color: grey;
}
.far{
    font-size: 85%;
    color: grey;
    padding: 5px;
}

.lista-top{
    width: 90%;
    text-align: center;
    position: absolute;
    top: 11%;
    left: 10%;
    right: 10%;
    color: gray;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
}
.lista-top li{
    display: inline-block;
    padding: 10px;
}
