*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Gotham', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    background-color: rgb(20, 25, 24) ;
    width: 100%;
    height: calc(100vh - 90px);
}

nav{
    height: 100%;
    width: 50px;
    float: left;
}
aside{
    height: 100%;
    width: 50px;
    background-color: black; 
}

#logodesktop {
    display: none;
} 

#main2{
    float: left;
    height: 100%;
    width: calc(100% - 50px);
}

footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100vw;
    background-color: rgb(40, 40, 40);
    z-index: 2;
}

.upgrade{
    width: calc(100vw - 50px);
    height: 10%;
    position: fixed;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(8, 11, 18, 0.5);
    z-index: 3;
}

.upgrade button{
    color: white;
    background-color: rgba(8, 11, 18, 0.2);
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 10px;
}

.none{
    display: none;
}

.contenitore-nav{
    width: 100%;
    height: 100%;
}

.navigatore{
    float: right;
    width: 50px;
    height: 92%;  
}

.top-nav{
    width: 100%;
    height: calc(100% - 36.5%);
    overflow-y: hidden;
    
}
.bottom-nav{
    width: 100%;
    height: 36.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#logowebapp{
    width: 45px;
    padding: 7px;
    
}

.top-nav img{
    width: 40px;
    padding: 5px;
}

#download{
    width: 15px;
    padding-bottom: 5px;
}

.profile{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow:hidden;
}

#evidenza{
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    border-bottom: 2px solid greenyellow;
}

.navigatore p{
    color: white;
    display: none;
}
.fas{
    padding: 5px;
    font-size: 150%;
    color: grey;
}
.far{
    font-size: 85%;
    color: grey;
    padding: 5px;
}

.lista-top{
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 10px;
    font-weight: 900;
    padding-top: 16%;
}
.lista-top li{
    display: inline-block;
    padding: 10px 10px;
}

.lista-noone{
    display: none;
}


.box-song{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#testo-menu{
    color: white;
    padding: 3%  0 1% 1%;
}

.main-song{
    float: left;
    width: 50%;
}

.main-song img{
    width: 95%;
    padding: 2% 3%;
}
.main-song h4 {
    color: white;
    padding: 7% 3%;
    text-align: center;
}
.main-song h6 {
    color: grey;
    padding: 1% 3%;
    text-align: center;
}

#main2{
    overflow-y: auto;
    width: calc(100% - 50px);
    float: left;
}
#main2 p{
    color: grey;
    font-weight:700;
    font-size: 13px;
    padding: 0  0 1% 1%;
}

.img-circle img{
    border-radius: 50%;
}


.left-side,
.right-side{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.left-side img{
    width: 60%;
    height: 100%;
    padding-left: 15%;
}
.imgbot{
    width: 33%;
}

.artist{
    width: 100%;
}

.left-side1{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: 9px;
    color: white;
    font-weight: 900;
}

.left-side1 span{
    font-size: 6px;
    color: grey;
}

.icon{
    font-size: 10px;
    width: 33%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.center{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center .far, .fas{
    color: white;
}
.center-icon{
    width: 70%;
    font-size: 45%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.center .far{
    font-size: 260%;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-side i {
    font-size: 10px;
}

.contenitore-bar{
    width: 35%;
}

.volumebar{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 15px;
}

.volumebar-right{
    width: 45%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.bar{
    display: flex;
    position: relative;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.6);
}

.volumebar:hover .bar{
    background-color: green;
}

.focusbar{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@media screen and (min-width: 768px)
{
    aside{
        height: 100%;
        width: 250px;
        background-color: black;
        float: left;
        display: flex;
        justify-content: space-between;
    }

    nav{
        width: 250px;
    }

    #main2 {
        overflow-y: auto;
        width: calc(100% - 250px);
        float: left;
    }
    
    .lista-noone{
        display: block;
        overflow-y: auto;
    
    }

    .none{
        display: block;
    }
    

    .top-nav{
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: hidden;
        
    }
    .bottom-nav{
        width: 100%;
        height: 80px;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .bottom-nav li:first-child{
        display: flex;
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
        width: 90%;
        font-size: 13px;
    }
    
    
    .bottom-nav li{
        display: flex;
    }
    
    #download{
        width: 15px;
        padding: 0;
    }
    
    
    .none{
        display: block;
        padding-left: 3%;
    }
        
    .bottom-nav img{
        padding-right: 5%;
    }
    
    
    .bottom-nav ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bottom-nav li{
        display: flex;
    }

    .bottom-nav img{
        vertical-align: middle;
    }

    .bottom-nav span{
        color: white;
    }

    #logowebapp {
        display: none;
    }
    #logodesktop {
        display: inline;
        width: 90%;
        padding: 10%;
    }

    .upgrade{
        width: calc(100vw - 250px);
        height: 10%;
        position: fixed;
        float: left;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(8, 11, 18, 0.5);
        z-index: 3;
    }
    .contenitore-nav{
        width: 100%;
    }
    
    .navigatore{
        width: 100%;
        height: 100%;
    }

    li{
        padding-left: 5%;
        color: grey;
    }

    li img{
        vertical-align: middle;
    }
    
    .navigatore p{
        color: white;
        display: inline-block;
    }

    h3{
        color: white;
        padding: 5% 7%;
        font-size: 15px;
    }

    .center-icon {
        width: 70%;
        font-size: 45%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 

    .aaa{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .lista span{
        color: grey;
        font-weight: 900;
    }
    .lista .fas{
        font-size: 40px;
        padding-left: 6%;
        vertical-align: middle;
        color: grey;
    }

    .lista-playlist{
        color: grey;
    }

    .lista-playlist li{
        font-weight: 900;
        padding-top: 5%;
        font-size: 13px;
    }

    .profile p{
        font-weight: 900;
    }
}


@media screen and (min-width: 992px)
{

    .main-song {
        float: left;
        width: 25%;
    }

    .contenitore-bar{
        width: 55%;
    }
    
    .center-icon{
        width: 40%;
        font-size: 65%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .icon{
        font-size: 10px;
        width: 33%;
        padding-left: 3%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px)
{
    .lista-top{
        width: 100%;
        text-align: center;
        color: grey;
        font-size: 10px;
        font-weight: 900;
        padding-top: 7%;
    }

    .main-song h4 {
        color: white;
        padding: 7% 1%;
        text-align: center;
    }

    .main-song {
        float: left;
        width: 16%;
    }

    .main-song {
        width: 264px;
        height: 279px;
    }
}